

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.form-container {
    width: 40%;

}


input {
    width: 90%;
    margin: 3%;
}

input[type="submit"] {
    margin-left: 40%;
    margin-right: 40%;
}

