/* ALL ELEMENTS STYLE */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* Class for hide element in js */
.d-none {
  display: none;
}

/* HEADER */
header {
  /* height: 20vh; */
  padding: 0.5rem 1rem;
  text-align: center;
  border-bottom: 1px solid #d2d3db;
  background-color: #283b43;
}

h1 {
  font-size: 28px;
  font-size: 600;
  padding: 2.5% 0% 0% 0%;
  color: white;
  
}

h2 {
  font-size: 18px;
}

h2.form-heading {
  width: 100vw;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin: 3%;
}

/* SETTING BUTTON */

.button-container {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: #283b43;;
}

button {
  height: 100%;
  width: 10%;
  font-size: 24px;
  margin-left: 45%;
  margin-right: 45%;
  background-color: #283b43;
  border: none;
/*   border-left: 2px solid #d2d3db;
  border-right: #d2d3db; */
}

.setting-btn-open {
  visibility: hidden;
/*   margin-left: 41%; */
}
.setting-btn-open::after {
  content: "X";
  position: fixed;
  bottom: 1vh;
  right: 46.5%;
  left: 46.5%;
  width: 7%;
  height: 9%;
  font-size: 18px;
  padding: 13px 5px;
  visibility: visible;
  border-radius: 25%;
  background-color: #283b43;
  color: white;

}

.container {
  display: none;
  position: fixed;
  bottom: 0;
}

.container-open {
  position: sticky;
  bottom: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.form-container {
  width: 45%;
}

/* LABEL STYLE */

label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 3%;
  margin-top: 3%;
  font-size: 0.8em;
}

input {
  width: 90%;
  height: 5vh;
  margin: 2%;
  margin-bottom: 17%;
  border-bottom: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 0.7em;
  /*  border-radius: 5px; */
}

input:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid black;
}

input[type="reset"],
input[type="submit"] {
  position: relative;
  width: 15%;
}

input[type="reset"] {
  left: 30%;
}
input[type="submit"] {
  right: 30%;
}
